<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/static/index.css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="wrapper">
        <div class="date"><h1>{{today}}</h1></div>
        <div class="buttons">
            {% for date in all_dates %}
                <a href="/{{loop.index - 1}}"><h3>{{date}}</h3></a>
            {% endfor %}
        </div>
        <div class="inner-wrapper">
            <div class="table-rooms">
            {% for floor in windows %}
            <div class="floor" id="floor_{{loop.index}}">
                {% for window_row in floor %}
                    <div class="window-row" id="window_row_{{loop.index}}">
                        {% for window in window_row %}
                            <div class="window {{ 'active' if window[1] }}" id="window_{{loop.index}}">
                                {{ window[0] }}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            {% endfor %}
            </div>
            <div class="column central">
                <div class="input-data row">
                    <p>Входные данные:</p>
                </div>
                <div class="answer row">
                    <p>Ответ:</p>
                </div>
            </div>
            <div class="column right">
                <div class="windows-amount row">
                    <div>
                        <p>Количество комнат на этаже:</p>
                        <p>{{rooms_count}}</p>
                    </div>
                    <div>
                        <p>Окна на этаже:</p><span>{{windows_for_room}}</span>
                    </div>
                </div>
                <div class="window-on-floor row">
                    <div>
                        <p>Количество комнат:</p>
                        <p>{{active_rooms_counter}}</p>
                    </div>
                    <div>
                        <p>Номера комнат:</p><span style="color: green">{{active_rooms}}</span>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
</html>